.followBtn {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.unfollowBtn {
    background-color: #f2f2f2;
    color: rgba(0,0,0,.5);
    border: 1px solid #1da1f2;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}