.follow-btn {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.unfollow-btn {
    background-color: #fff;
    color: #1da1f2;
    border: 1px solid #1da1f2;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}